* {
    margin: 0;
    box-sizing: border-box;
}

main > div >,
body > div{
    position: relative;
}

body{
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: skyblue;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

nav,
main{
    position: relative;
    height: 97%
}

nav{
    width: 20vw;
}

main{
    width: 80vw;
}

#nav_container,
#main_container{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#nav_container > div{
    width: 100%;
    height: 5%;
    background-color: white;
    border: 1px solid black;
}

#main_container{
    width: 79vw;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    grid-gap: 10px;
    background-color: black;
    justify-content: center;
}

#main_container > div {
    margin: 0px 20px;
}

main > div > div > div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 200px;
    border: 3px solid black;
    max-width: 200px;
}

p {
    max-width: 200px;
}

.hidden{
    display: none !important;
}

.update_overlay{
    background-color: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_overlay{
    display:flex;
    justify-content: center;
    align-items: center;
}

main > div {
    color: white;
    height: 200px;
    border: 3px solid black;
}

.fav{
    border:3px solid green;
}

button{
    position: absolute;
    top: -10px;
}

img{
    max-height: 80%;
    max-width: 80%;
    margin: 10px;
}