* {
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow: hidden;
}

main > div >,
body > div{
    position: relative;
}

body{
    display: flex;
    justify-content: center;
    margin: 10px;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

aside,
main{
    position: relative;
    height: 97%
}

aside{
    width: 20vw;
}

main{
    width: 80vw;
}

#aside_container,
#main_container{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#aside_container > div{
    width: 100%;
    height: 5%;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 5%;
    cursor: pointer;
}

#main_container{
    width: 79vw;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    grid-gap: 10px;
    justify-content: center;
}

#main_container > div {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main > div > div > div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

p {
    padding: 20px;
}

.hidden{
    display: none !important;
}

.update_overlay{
    background-color: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit
}

#aside_overlay{
    display:flex;
    justify-content: center;
    align-items: center;
}

main > div {
    color: white;
}

.fav{
    background-color: rgba(0, 255, 13, 0.3);
}

img{
    max-height: 80%;
    max-width: 80%;
    margin: 10px;
}

@media (max-width: 900px) {
    #main_container{
        width: 79vw;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        grid-gap: 10px;
        justify-content: center;
    }
}