html{
    box-sizing: border-box;
}

nav,
main > div >,
body > div{
    position: relative;
}

body{
    display: grid;
    grid-template-columns: .7fr auto;
    grid-gap: 1px;
    padding: 1vw;
    background-color: skyblue;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: none;
}

main{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(4, 15vw);
    grid-gap: 10px;
    background-color: black;
    justify-content: center;
}

.hidden{
    display: none !important;
}

.update_overlay{
    background-color: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    text-align: center;
    align-items: center;
}

#nav_overlay{
    display:flex;
    justify-content: center;
    align-items: center;
}

main > div > div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 25vh;
}

main > div {
    color: white;
}

.fav{
    border: 3px solid green;
}

button{
    position: absolute;
    top: -10px;
}

img{
    width: 80%;
    margin: 10px;
}